# cscode
.vscode

# Cmake
CMakeFiles
CMakeCache.txt

# build folders
bin/
*build/

# lib folders
*lib/

# release folders
*release/

# exe
*.exe

# model
# *.pkl

# python
*__pycache__/
*.spec
*.pyc

# tar.gz
*.tar.gz

#.caffemodel
*.caffemodel